<mat-dialog-content>
  <div *ngIf="data.moduleData !== undefined">
    <h1>{{data.moduleData.module}}</h1>
    <p><strong>Specialisaties: </strong>{{data.moduleData.specialisation}}</p>
    <p><strong>Periode: </strong>{{data.moduleData.period}}</p>
    <p style="margin-bottom: 0.4rem"><strong>Eindeisen: </strong></p>
    <ul>
      <li *ngFor="let endRequirement of data.moduleData.endRequirements">
        {{endRequirement}}
      </li>
    </ul>
    <app-competence-matrix [competenceMatrix]="data.moduleData.matrix"></app-competence-matrix>
    <h3>Logboek</h3>
    <app-audit-log [alternateData]="data.moduleData.auditLog"></app-audit-log>
  </div>
</mat-dialog-content>
