
table
{
    table-layout: fixed;
    width: 100%;
}
.flex-outer label{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex-outer label a{
    flex-basis: 10rem;
}

.naastElkaar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.noWrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
