<form id="moduleForm" [formGroup]="moduleForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>
            ID
        </mat-label>
        <input matInput type="number" formControlName="id">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Modulenaam:
        </mat-label>
        <input matInput type="string" formControlName="moduleNaam">
        <mat-error>Modulenaam is verplicht</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Modulecode:
        </mat-label>
        <input matInput type="string" formControlName="moduleCode">
        <mat-error>Modulecode is verplicht</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Cohort</mat-label>
        <mat-select formControlName="cohort">
            <mat-option *ngFor="let item of availableCohorts" [value]="item.beginjaar" >
                {{ item.naam }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            Aantal EC:
        </mat-label>
        <input matInput type="number" formControlName="aantalEc">
        <mat-error>Aantal EC is verplicht</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Studiejaar:
        </mat-label>
        <input matInput type="string" formControlName="studiejaar">
        <mat-error>Studiejaar is verplicht</mat-error>
    </mat-form-field>


    <br>
    <h3>Moduleleider</h3>
    <div formGroupName="moduleleider">
        <mat-form-field>
            <mat-label>
                Naam:
            </mat-label>
            <input matInput type="string" formControlName="naam">
            <mat-error>Naam is verplicht</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Email:
            </mat-label>
            <input matInput type="string" formControlName="email">
            <mat-error>Email is verplicht</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Telefoonnummer:
            </mat-label>
            <input matInput type="string" formControlName="telefoonnummer">
            <mat-error>Telefoonnummer is verplicht</mat-error>
        </mat-form-field>

    </div>
    <br>
    <h3>Studiefase</h3>
    <div formGroupName="studiefase">
        <mat-form-field>
            <mat-label>
                Fase:
            </mat-label>
            <input matInput type="string" formControlName="fase">
            <mat-error>Studiefase is verplicht</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Periode:
            </mat-label>
            <input matInput type="number" formControlName="periode">
            <mat-error>Periode is verplicht</mat-error>
        </mat-form-field>

    </div>
    <br>
    <h3>Verplicht voor</h3>
    <div formGroupName="verplichtVoor">

        <mat-label>
            SE:
        </mat-label>
        <mat-checkbox formControlName="SE"></mat-checkbox>

        <mat-label>
            FICT:
        </mat-label>
        <mat-checkbox formControlName="FICT"></mat-checkbox>


        <mat-label>
            BDAM:
        </mat-label>
        <mat-checkbox formControlName="BDAM"></mat-checkbox>

        <mat-label>
            IAT:
        </mat-label>
        <mat-checkbox formControlName="IAT"></mat-checkbox>



    </div>
    <br>
    <h3>Aanbevolen voor</h3>
    <div formGroupName="aanbevolenVoor">

        <mat-label>
            SE:
        </mat-label>
        <mat-checkbox formControlName="SE"></mat-checkbox>

        <mat-label>
            FICT:
        </mat-label>
        <mat-checkbox formControlName="FICT"></mat-checkbox>

        <mat-label>
            BDAM:
        </mat-label>
        <mat-checkbox formControlName="BDAM"></mat-checkbox>

        <mat-label>
            IAT:
        </mat-label>
        <mat-checkbox formControlName="IAT"></mat-checkbox>
    </div>

    <h3>Competenties</h3>
    <div formGroupName="competenties">
        <table id="competentiematrix">
            <tr>
                <th class="columnWidth"></th>
                <th>gebruiksinteractie</th>
                <th>organisatieprocessen</th>
                <th>infrastructuur</th>
                <th>software</th>
                <th>hardware interfacing</th>
            </tr>

            <tr>
                <td>analyseren</td>

                <td>
                    <input matInput type="number" formControlName="GIAN">
                </td>
                <td>
                    <input matInput type="number" formControlName="BPAN">
                </td>
                <td>
                    <input matInput type="number" formControlName="ISAN">
                </td>
                <td>
                    <input matInput type="number" formControlName="SWAN">
                </td>
                <td>
                    <input matInput type="number" formControlName="HIAN">
                </td>
            </tr>

            <tr>
                <td>adviseren</td>
                <td>
                    <input matInput type="number" formControlName="GIAD">
                </td>
                <td>
                    <input matInput type="number" formControlName="BPAD">
                </td>
                <td>
                    <input matInput type="number" formControlName="ISAD">
                </td>
                <td>
                    <input matInput type="number" formControlName="SWAD">
                </td>
                <td>
                    <input matInput type="number" formControlName="HIAD">
                </td>
            </tr>

            <tr>
                <td>ontwerpen</td>
                <td>
                    <input matInput type="number" formControlName="GION">
                </td>
                <td>
                    <input matInput type="number" formControlName="BPON">
                </td>
                <td>
                    <input matInput type="number" formControlName="ISON">
                </td>
                <td>
                    <input matInput type="number" formControlName="SWON">
                </td>
                <td>
                    <input matInput type="number" formControlName="HION">
                </td>
            </tr>

            <tr>
                <td>realiseren</td>
                <td>
                    <input matInput type="number" formControlName="GIRE">
                </td>
                <td>
                    <input matInput type="number" formControlName="BPRE">
                </td>
                <td>
                    <input matInput type="number" formControlName="ISRE">
                </td>
                <td>
                    <input matInput type="number" formControlName="SWRE">
                </td>
                <td>
                    <input matInput type="number" formControlName="HIRE">
                </td>
            </tr>

            <tr>
                <td>beheren</td>
                <td>
                    <input matInput type="number" formControlName="GIBE">
                </td>
                <td>
                    <input matInput type="number" formControlName="BPBE">
                </td>
                <td>
                    <input matInput type="number" formControlName="ISBE">
                </td>
                <td>
                    <input matInput type="number" formControlName="SWBE">
                </td>
                <td>
                    <input matInput type="number" formControlName="HIBE">
                </td>
            </tr>
        </table>
    </div>

    <mat-form-field>
        <mat-label>
            Beschrijving leerdoelen:
        </mat-label>
        <input matInput type="text" formControlName="beschrijvingLeerdoelen">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Inhoudelijke beschrijving:
        </mat-label>
        <input matInput type="text" formControlName="inhoudelijkeBeschrijving">

    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Eindeisen:
        </mat-label>
        <input matInput type="text" formControlName="eindeisen">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Contacturen en werkvormen:
        </mat-label>
        <input matInput type="text" formControlName="contacturenWerkvormen">
    </mat-form-field>

    <br>
    <h3>Toetsvorm</h3>
    <mat-form-field>
        <mat-label>
            Toetsvorm:
        </mat-label>
        <input matInput type="text" formControlName="toetsvorm">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Voorwaarden voldoende:
        </mat-label>
        <input matInput type="text" formControlName="voorwaardenVoldoende">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Let Op:
        </mat-label>
        <input matInput type="text" formControlName="letOp">
    </mat-form-field>


    <mat-label>
        Summatief:
    </mat-label>
    <mat-checkbox formControlName="summatief"></mat-checkbox>

    <mat-label>
        Formatief:
    </mat-label>
    <mat-checkbox formControlName="formatief"></mat-checkbox>

    <mat-label>
        Kwalitatief:
    </mat-label>
    <mat-checkbox formControlName="kwalitatief"></mat-checkbox>

    <mat-label>
        Kwantitatief:
    </mat-label>
    <mat-checkbox formControlName="kwantitatief"></mat-checkbox>

    <mat-form-field>
        <mat-label>
            Examinatoren:
        </mat-label>
        <input matInput type="textarea" formControlName="examinatoren">
    </mat-form-field>

    <button mat-button type="submit" [disabled]="moduleForm.valid">Creeer module</button>
</form>

<pre>{{jsonValue | json}} </pre>
<pre>{{jsonValueAfterPipe | json}} </pre>