<form id="moduleForm" class="flex-outer" [formGroup]="moduleForm" (ngSubmit)="onSubmit()">
    <label>
        <a>Modulenaam:</a>
        <input matInput type="string" formControlName="moduleNaam">
    </label>

    <label>
        Modulecode:
        <input matInput type="string" formControlName="moduleCode">
        <span>Modulecode is verplicht</span>
    </label>
    <label>
        Cohort
        <select (change)="changeCohort($event)" formControlName="cohort">
            <option value="" disabled>Kies een cohort</option>
            <option *ngFor="let item of availableCohorts" [ngValue]="item.naam">{{item.naam}}</option>
        </select>
    </label>
    <label>
        Aantal EC:
        <input matInput type="number" formControlName="aantalEc">
    </label>
    <label>
        Studiejaar:
        <input matInput type="string" formControlName="studiejaar">
    </label>

    <br>
    <h5>Moduleleider</h5>
    <div class="onderElkaar" formGroupName="moduleleider">
        <label>

            Naam:

            <input matInput type="string" formControlName="naam">
        </label>
        <label>

            Email:

            <input matInput type="string" formControlName="email">
        </label>
        <label>

            Telefoonnummer:

            <input matInput type="string" formControlName="telefoonnummer">
        </label>

    </div>
    <br>
    <h5>Studiefase</h5>
    <div class="onderElkaar" formGroupName="studiefase">
        <label>

            Fase:

            <input matInput type="string" formControlName="fase">
        </label>
        <label>

            Periode:

            <input matInput type="number" formControlName="periode">
        </label>

    </div>
    <br>


    <div class="naastElkaar">
        <div class="onderElkaar" formGroupName="verplichtVoor">
            <h5>Verplicht voor</h5>
            <div>
                <label>
                    SE:
                    <input type="checkbox" formControlName="SE" />
                </label>
                <label>
                    FICT:
                    <input type="checkbox" formControlName="FICT" />
                </label>
            </div>
            <div>
                BDAM:
                <input type="checkbox" formControlName="BDAM" />
                IAT:
                <input type="checkbox" formControlName="IAT" />
            </div>
        </div>

        <div class="onderElkaar" formGroupName="aanbevolenVoor">
            <h5>Aanbevolen voor</h5>
            <div>
                <label>
                    SE:
                    <input type="checkbox" formControlName="SE" />
                </label>
                <label>
                    FICT:
                    <input type="checkbox" formControlName="FICT" />
                </label>
            </div>
            <div>
                BDAM:
                <input type="checkbox" formControlName="BDAM" />
                IAT:
                <input type="checkbox" formControlName="IAT" />
            </div>
        </div>
    </div>


    <h5>Competenties</h5>
    <div formGroupName="competenties">
        <table id="competentiematrix">
            <tr>
                <th class="columnWidth"></th>
                <th>gebruiksinteractie</th>
                <th>organisatieprocessen</th>
                <th>infrastructuur</th>
                <th>software</th>
                <th>hardware interfacing</th>
            </tr>

            <tr>
                <td>analyseren</td>

                <td>
                    <input matInput type="number" formControlName="GIAN">
                </td>
                <td>
                    <input matInput type="number" formControlName="BPAN">
                </td>
                <td>
                    <input matInput type="number" formControlName="ISAN">
                </td>
                <td>
                    <input matInput type="number" formControlName="SWAN">
                </td>
                <td>
                    <input matInput type="number" formControlName="HIAN">
                </td>
            </tr>

            <tr>
                <td>adviseren</td>
                <td>
                    <input matInput type="number" formControlName="GIAD">
                </td>
                <td>
                    <input matInput type="number" formControlName="BPAD">
                </td>
                <td>
                    <input matInput type="number" formControlName="ISAD">
                </td>
                <td>
                    <input matInput type="number" formControlName="SWAD">
                </td>
                <td>
                    <input matInput type="number" formControlName="HIAD">
                </td>
            </tr>

            <tr>
                <td>ontwerpen</td>
                <td>
                    <input matInput type="number" formControlName="GION">
                </td>
                <td>
                    <input matInput type="number" formControlName="BPON">
                </td>
                <td>
                    <input matInput type="number" formControlName="ISON">
                </td>
                <td>
                    <input matInput type="number" formControlName="SWON">
                </td>
                <td>
                    <input matInput type="number" formControlName="HION">
                </td>
            </tr>

            <tr>
                <td>realiseren</td>
                <td>
                    <input matInput type="number" formControlName="GIRE">
                </td>
                <td>
                    <input matInput type="number" formControlName="BPRE">
                </td>
                <td>
                    <input matInput type="number" formControlName="ISRE">
                </td>
                <td>
                    <input matInput type="number" formControlName="SWRE">
                </td>
                <td>
                    <input matInput type="number" formControlName="HIRE">
                </td>
            </tr>

            <tr>
                <td>beheren</td>
                <td>
                    <input matInput type="number" formControlName="GIBE">
                </td>
                <td>
                    <input matInput type="number" formControlName="BPBE">
                </td>
                <td>
                    <input matInput type="number" formControlName="ISBE">
                </td>
                <td>
                    <input matInput type="number" formControlName="SWBE">
                </td>
                <td>
                    <input matInput type="number" formControlName="HIBE">
                </td>
            </tr>
        </table>
    </div>
    <label>
        <ng-container formArrayName="eindeisen">

            Eindeisen:

            <div *ngFor="let control of eindeisen.controls; index as i">
                <input matInput type="text" [formControl]="eindeisen.controls[i]">
            </div>
        </ng-container>
    </label>
    <button mat-button (click)="addEindeis()">Eindeis toevoegen</button>
    <button mat-button type="submit" [disabled]="!moduleForm.valid">Creeer module</button>
</form>

<pre>{{jsonValue | json}} </pre>
<pre>{{jsonValueAfterPipe | json}} </pre>