<div style="text-align: center">
  <h3>Overzicht van alle modules</h3>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter()" placeholder="Ex. ium">
  </mat-form-field>
</div>

<div class="table-container">
  <mat-table matSort [dataSource]="dataSource" [ngClass]="{smallTableStyle: showEndRequirementsUnderMatrix}">

    <ng-container matColumnDef="module">
      <mat-header-cell mat-sort-header *matHeaderCellDef [ngClass]="'smallCell'"> Module</mat-header-cell>
      <mat-cell *matCellDef="let moduleData" [ngClass]="'smallCell'"><b>{{moduleData.module}}</b></mat-cell>
    </ng-container>

    <ng-container matColumnDef="specialisation">
      <mat-header-cell *matHeaderCellDef [ngClass]="'specCell'"> Spec</mat-header-cell>
      <mat-cell *matCellDef="let moduleData" [ngClass]="'specCell'">
        <ul class="spec-list">
          <li class="spec-list-item"
              *ngFor="let specialisation of moduleData.specialisation"> {{specialisation}}</li>
        </ul>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="period">
      <mat-header-cell mat-sort-header *matHeaderCellDef [ngClass]="'smallCell'"> Periode</mat-header-cell>
      <mat-cell *matCellDef="let moduleData" [ngClass]="'smallCell'">
        {{moduleData.period}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="matrix">
      <mat-header-cell *matHeaderCellDef [ngClass]="'matrixCell'"> Matrix</mat-header-cell>
      <mat-cell *matCellDef="let moduleData" [ngClass]="'matrixCell'">
        <div>
          <app-competence-matrix [competenceMatrix]="moduleData.matrix" style="font-size: 75%;"></app-competence-matrix>
          <div *ngIf="showEndRequirementsUnderMatrix">
            <p><b>Eindeisen</b></p>
            <ul style="padding:  0">
              <li class="endRequirement-list-item"
                  *ngFor="let requirement of moduleData.endRequirements; let i = index"><p>
                &bull; {{requirement}}</p></li>
            </ul>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="endRequirements">
      <mat-header-cell *matHeaderCellDef [ngClass]="'requirmentCell'"> Eindeisen</mat-header-cell>
      <mat-cell *matCellDef="let moduleData" [ngClass]="'requirmentCell'">
        <ul style="padding:  0">
          <li class="endRequirement-list-item"
              *ngFor="let requirement of moduleData.endRequirements; let i = index"><p>
            &bull; {{requirement}}</p></li>
        </ul>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let moduleRowData; let i = index; columns: displayedColumns;" (click)="openPopup(moduleRowData)"></mat-row>
  </mat-table>
</div>
