.admin_container{
  text-align: center;
}

.admin_menu{
  border: 2px solid #f2f2f2;
  margin-left:auto;
  margin-right:auto;
  width:250px;
  padding: 5px;
}
.admin_menu_button{
  width: 100%;
  background-color: #007bff;
  color: white;
}
