.align-center {
  text-align: center;
}

.matrix-header {
  color: black;
}

.matrix-body {
  color: white;
}

@media (max-width: 768px) {
  .matrix-container{
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }
}


