<div class="audit-container">
  <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Timestamp Column -->
    <ng-container matColumnDef=timeStamp>
      <mat-header-cell *matHeaderCellDef [ngClass]="'timeCell'"> tijdstip</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'timeCell'"> {{element.timestamp | date:'dd/mm/yyyy hh:mm'}} </mat-cell>
    </ng-container>

    <!-- InfoString Column -->
    <ng-container matColumnDef="infoString">
      <mat-header-cell *matHeaderCellDef> omschrijving</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.omschrijving}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let auditLogRowData; let i = index; columns: displayedColumns;"
             (click)="openPopup(auditLogRowData)"></mat-row>
  </mat-table>
</div>
